body{
  background-color: rgb(0, 221, 255);
  color: blue;
  text-align: center;
  padding-top: 10vh;
}

button{
  background-color: rgba(86, 82, 82, 0.39);
  color: white;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

button:hover{
  background-color: rgba(86, 82, 82, 0.692);
}

input{
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(227, 221, 221, 0.992);
}